[submodule "third_party/kilix-game-kit"]
	path = third_party/kilix-game-kit
	url = https://github.com/itsmygithubacct/kilix-game-kit.git
[submodule "third_party/kilix-top-down-engine"]
	path = third_party/kilix-top-down-engine
	url = https://github.com/itsmygithubacct/kilix-top-down-engine.git
[submodule "third_party/kilix-assets"]
	path = third_party/kilix-assets
	url = https://github.com/itsmygithubacct/kilix-assets.git
[submodule "third_party/kilix-ui"]
	path = third_party/kilix-ui
	url = https://github.com/itsmygithubacct/kilix-ui.git
